<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DriveSafe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DriveSafeServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65393F551D452EEF00B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65393F5D1D452EEF00B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65393F8E1D453EF100B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65393F961D453EF200B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65393FF91D454E5100B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653940011D454E5100B23A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1571A711C2B359200922698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
